In [1]:
employee_data = ['Ali', 125000, 'Google', 5]

In [11]:
print("{} is working in {} for {} years and his salary is {}".format(employee_data[0],employee_data[2],employee_data[3],employee_data[1]))

Ali is working in Google for 5 years and his salary is 125000

In [5]:
print("{name} is working in {company_name} for {years} years and his salary is {salary}".format(name='Ali',company_name='Google',years=5,salary=125000))

Ali is working in Google for 5 years and his salary is 125000

In [6]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,'28 Januray 2020', '05 February 2020']

In [14]:
print("""Hello {} {},
your application is accepted for the admission in {} in "{} {}".
you have to submit fee {} before {}.
your classes will start from {}.
Thanks""".format(studentData[0],studentData[1],studentData[2],studentData[4],studentData[3],studentData[5],studentData[6],studentData[7]))

Hello Ahmed Bilal,
your application is accepted for the admission in Government College University in "BS Computer Science".
you have to submit fee 50000 before 28 Januray 2020.
your classes will start from 05 February 2020.
Thanks

In [1]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

In [10]:
print(cities[:4])

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [11]:
print(cities[2:6])

['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']

In [12]:
print(cities[5:])

['Sahiwal', 'Rawalpindi', 'Sialkot']

In [14]:
print(cities[-4:-1])

['Quetta', 'Sahiwal', 'Rawalpindi']

In [15]:
print(cities[-5:])

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

In [1]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [2]:
studentData.append('20 February 2019')

In [3]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019']

In [4]:
studentData.append(8)

In [5]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]

In [6]:
studentData.insert(4,25000)

In [7]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [8]:
studentData.insert(1,"M.Iqbal")

In [9]:
print(studentData)

['Ali Raza', 'M.Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [12]:
studentData[0] = "Zohaib Ali"

In [13]:
print(studentData)

['Zohaib Ali', 'M.Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [14]:
studentData[6] = 7

In [15]:
studentData

['Zohaib Ali',
 'M.Iqbal',
 22,
 91.24,
 'Computer Science',
 25000,
 7,
 'University of Agriculture',
 '20 February 2019',
 8]

In [19]:
studentData.remove('Computer Science')

In [20]:
studentData

['Zohaib Ali',
 'M.Iqbal',
 22,
 91.24,
 25000,
 7,
 'University of Agriculture',
 '20 February 2019',
 8]

In [22]:
studentData.remove(91.24)

In [23]:
studentData.pop(-1)

8

In [24]:
studentData

['Zohaib Ali',
 'M.Iqbal',
 22,
 25000,
 7,
 'University of Agriculture',
 '20 February 2019']

In [26]:
studentData.pop(3)

25000

In [1]:
employeeData = [["Ali", 35000, "Software Engineer"],
                ["Talha", 55000, "Product Manager"],
                ["Nasir", 79000, "Computer Engineer"],
                ["Khalid", 44000, "DBA"]]

In [3]:
employeeData[2][2] = "Product Manager"
salary_org = 0
for i in employeeData:
    salary = i[1]
    if salary >= 50000:
        salary_org = salary
        name       = [2]
        print(salary_org)

55000
79000

In [11]:
total_salary = 0
for i in employeeData:
    salary = i[1]
    total_salary += salary 
print(total_salary)

213000

In [82]:
employeeData = [["Ali", 35000, "Software Engineer"],
                ["Talha", 55000, "Product Manager"],
                ["Nasir", 79000, "Computer Engineer"],
                ["Khalid", 44000, "DBA"]]

In [85]:
employeeData[2][1] = 90000

In [86]:
print(employeeData)

[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'Computer Engineer'], ['Khalid', 44000, 'DBA']]

In [88]:
employeeData[3][1] = 50000

In [89]:
print(employeeData)

[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'Computer Engineer'], ['Khalid', 50000, 'DBA']]

In [13]:
username = "faizan1214"
password = "qwerty"
emailVerified = False

In [15]:
email = True
if "faizan1214" == username and "qwerty" == password:
    if email == emailVerified:
        print("login succeed")
    else:
         print("Email not verified")
        
else:
    print("Login incorrect")

Email not verified